*
{
    padding:0px;
    margin:0px;
    position: relative;
    font-family: Arial, sans-serif;
}
header,section,footer
{
    display:block;
}
body
{
	background-color: black;
    text-align: center
}
#wrapper
{
    width:1004px;
    height: 790px;
    margin: 0px auto;
    background: url('Slices/BackGround.jpg');
}
header
{
    font-size: 31px;
    font-weight: bold;
    width:1004px;
    height:150px;
    color:White;
    padding-bottom: 10px;
    top: 25px;
    z-index: 1;
}
#HeaderText{
    float: left;
    top: 56px
    
}
#imgright{
    float: right;
    top: 18px;
}
#imgleft{
    float: left;
}
footer
{
    width: 1004px;
    height: 120px;
    top: 38px;
}
.bth{
	margin: 0 auto;
	margin-top: -25px;
	display: block;
	background: url('Slices/download-btn.png') no-repeat;
	height: 150px;
	width: 422px;
	top: 25px;
}

.bth:hover{
	background-position: 0 -140px;
}
#popcontroller{
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
}
#pop{
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
}
#ttext{font-weight: bold; font-size: 47px; color: #ffffff;margin-top: 20px;}
#btext{font-weight: bold; font-size: 47px; color: #b3b3b3;margin-top: 15px;}
.clear
{
    clear:both;
}